body {
    background-color: snow;
}

header {
    background-color: aliceblue;
    margin-bottom: 50px;
    padding: 50px 0 50px 0;
    text-align: center;
}

ol, ul {
    list-style-type: none;
}

section {
    margin: 50px 0;
}
    section small, h3 { 
        display: inline;
    }

.experience {}
    .experience small, h3 {
        display: inline;
    }

