a {
  text-decoration: underline;
  color: #242124;
}

body {
    background-color: snow;
    color: #242124;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 400;
}

header {
    margin-bottom: 50px;
    padding: 100px 0 50px 0;
    text-align: center;
}
  header span {
    background-color: #242124;
    color: snow;
    font-family: 'Courier Prime', 'Courier New', 'Courier', monospace;
    font-size: 1.2em;
    font-style: italic;    
    font-weight: 700;    
    padding-left: 5px;
    padding-right: 5px;
  }

h1, h2, h3 {
  font-family: 'Courier Prime', 'Courier New', 'Courier', monospace;
}

h1 {
  border: 5px solid #c6ecdc;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0 auto 40px;
  padding: 10px 0 10px;
  text-transform: uppercase;
  width: 650px;
  
}

h2 {  
  font-size: 2.2rem;
  line-height: 1.1em;
  text-align: right;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}

h3 {
  background-color: #c6ecdc;
  color: #242124;
}

li, p {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

ol, ul {
  font-family: 'Courier Prime', 'Courier New', 'Courier', monospace;
  list-style-type: none;
  padding-left: 0;  
}

section {
  margin: 2.5rem 0 2.5rem;
  padding: 2em 0;
}
    section small, h3 { 
      display: inline;
    }

    section small {
      padding-left: 5px;
    }

.education {}
    .education h4 {
      font-size: 1.2rem;
    }

    .education h4, small {
      display: inline;
    }

    .education li {
      margin-bottom: 2rem;
    }
    

    .education ul {
      list-style: square;      
      margin-top: 1rem;
     
    }
      .education ul li {
        margin: 1rem 0 0 1.2rem;
      }
        .education ul li p {
          font-size: 1.2rem;
        }

    .education .academic {}
      .education .academic h3, small {
        display: inline;
      }
    
    .education h3.other-education  {
      background-color: snow;
    }   

.experience {}
    .experience li {
      margin-bottom: 2rem !important;
    }

    .experience h3, small {
      display: inline;
    }
 
footer {
  margin-bottom: 80px;
}
  .footer-line {
    background-color: #c6ecdc;
    height: 1px;
    margin: 80px auto 20px; 
    width: 70%; 
  }

  .site-text {
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
  }
  /*
    .footer-line1::after, .footer-line1::before {
      background-color: #242124;
      content:"";
      display: inline-block;
      height: 5px;      
      position: relative;
      
      width: 5px;
    }

    .footer-line1::after {
      left: 100%;
      top: -23px;
    }

    .footer-line1::before {
      top: -2px;
    }*/
  

.goals {}
  .goals h2, p {
    display: block
  }

  .goals h2 {
    word-wrap: break-word;
  }
  
  .goals p {
    font-size: 1.4rem;
    font-weight: 300;
  }


.languages{}
  .languages li {
    margin-bottom: 1rem;
  }

.skills {}
  .skills .skill-category {
    margin-bottom: 2rem;
  }

    .skills .dotted-s {
      color: #c6ecdc;
      font-size: 0.8em;
      padding: 0 12px;
    }

    .skills .other-skills 
      .skills .other-skills h3 {
        display: inline-block;
      }

      .skills .other-skills ul {
        list-style-type: square;
        margin-left: 1.2em;
      }

      .skills .other-skills h3 {
        background-color: snow;
      }


@media print {
  body {
    color: black;
  }

  footer {
    display: none;
  }

  header 
    header span {
      color: black !important;
    }

  section {
    margin: 20px 0 20px;
  }

  header 
    header span {
      font-size: 14pt;
    }

  h1 {
    font-size: 20pt !important;
  }

  h2 {
    font-size: 18pt !important;
  }
  
  h3 {
    font-size: 16pt !important;
  }

  h4 {
    font-size: 12pt !important;
  }

  p, li {
    font-size: 10pt !important;
  }
}